<p>
    <mat-toolbar>
        <button mat-icon-button class="example-icon favorite-icon" routerLink='/'>
            <mat-icon>favorite</mat-icon>
        </button>
        <span>First Angular app</span>
        <span class="example-spacer"></span>

        <button mat-raised-button class="example-icon" routerLink='/counter'>
            Counter
        </button>
        <button mat-raised-button class="example-icon" routerLink='/movies'>
            Movies
        </button>
        <button mat-raised-button class="example-icon" routerLink='/table-data'>
            Table        
        </button>

    </mat-toolbar>
</p>